
# Port for the backend server
PORT=3000

# PostgreSQL database host
DB_HOST=localhost

# PostgreSQL database port
DB_PORT=5432

# Name of the PostgreSQL database
DB_NAME=vasarosProjektas

# Database user
DB_USER=postgres

# Database password
DB_PASSWORD=postgres


#authorization
JWT_SECRET = supersecretpasword
JWT_EXPIRES_IN = 90d
JWT_COOKIE_EXPIRES_IN = 90