@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

:root {
  font-size: 62.5%;
  background-color: var(--background-color);
  font-family: "Nunito Sans", sans-serif;
  color: var(--primary-text-color);

  --background-color: #ffffff;
  --lighter-background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #007bff;
  --secondary-text-color: #808080;
  --accent-text-color: #111517;
  --error-text-color: #b91c1c;
  --green-accent-color: #36d7b7;
  --grey-accent-color: #454545;
  --pagination-accent: #aef4e6;
  --button-hover-color: #e8e8e8;
}

[data-theme="dark"] {
  --background-color: #202c36;
  --primary-text-color: #ffffff;
  --primary-color: #1e90ff;
  --lighter-background-color: #2b3844;
  --secondary-text-color: #ffffff;
  --accent-text-color: #ffffff;
  --error-text-color: #fb3a3a;
  --green-accent-color: #36d7b7;
  --grey-accent-color: #9a9a9a;
  --pagination-accent: #36d7b7;
  --button-hover-color: #232a31;
}

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
