.backButton {
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  gap: 1rem;
  background: var(--colors-white, #fff);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  padding-block: 1.5rem;
  padding-inline: 2rem;
  border-radius: 1rem;
}

.arrowIcon {
  width: 20px;
}

.loaderContainer {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noExcursionText {
  font-size: 1.4rem;
  color: #808080;
  text-align: center;
  grid-column: 1 / -1;
  justify-self: center;
  margin-inline: 2rem;
  margin-block: 3rem;
}
